params {
    reads = 'zygmukin_reads/*.fastq.gz'
    outdir = 'zygmukin_results'
    adapters = 'TruSeq3-PE.fa'  // Adapter sequences for trimming
    max_memory = '50G'
    threads = 4
}

process.executor = 'local'
process.memory = params.max_memory
process.cpus = params.threads

dsl = 2  

workDir = 'work/' 

container {
    fastqc = 'biocontainers/fastqc:v0.11.9'
    trimmomatic = 'biocontainers/trimmomatic:v0.39'
    trinity = 'trinityrnaseq/trinityrnaseq:2.13.2'
    rsem = 'biocontainers/rsem:v1.3.1'
    transdecoder = 'biocontainers/transdecoder:v5.5.0'
    // trinotate = 'trinotate/trinotate:latest'  // Usunięte kontener Trinotate, bo nie będzie już w kontenerze
    kobas = 'agbase/kobas:3.0.3_3'
    r = 'biocontainers/r-ver:v3.6.1'
}

