params {
    reads = 'C:/tools_phd/zygmukin_reads/*.fastq.gz'  
    outdir = 'C:/tools_phd/zygmukin_results'         
    transcriptome = 'C:/tools_phd/zygmukin_trinity_output/Trinity.fasta' 
    threads = 4                                     
    memory = '50GB'                                 
}

// Defining run profiles
profiles {
    standard {
        process.executor = 'local'   
        process.memory = params.memory
        process.cpus = params.threads
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    singularity {
        process.executor = 'local'
        singularity.enabled = true
    }
}

// Default settings for all processes
process {
    cpus = params.threads
    memory = params.memory
    time = '24h' 
}
